body {
    background-color: #303030;
}

h1 {
  color: #dbdbdb;
  font-family: Verdana, sans-serif;
  font-size: 40px;
}

h2 {
  color: #dbdbdb;
  font-family: Verdana, sans-serif;
  font-size: 30px;
}

h3 {
  color: #dbdbdb;
  font-family: Verdana, sans-serif;
  font-size: 20px;
}

p {
  color: #dbdbdb;
  font-family: Verdana, sans-serif;
  font-size: 14px;
}

a {
  color: #adadad;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  text-decoration: underline;
}
